/* flex box */
.parent {
  display: flex;
  width: 98vw;
  margin:0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.child {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 98vw;
}
/* general style */
h1,h2 {
  font-family: 'Vidaloka', serif;
  font-size: 3vw;
  margin: 0;
  margin-bottom: 1vh;
}
h3 {
  font-family: 'Vidaloka', serif;
  margin: 1vh;
  font-size: 1.8vw;
}
p {
  margin: 0;
  font-size: 1.5vw;
  margin-bottom: 1vh;
}
img {
  align-self:center;
}
body {
  font-family: 'Roboto', sans-serif;font-weight:300;
}
a {
  text-decoration: none;
  color:black;
}

/* section style */
.home, .about, .work, .books, .contact {
  width: 85vw;
  margin-left:10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* nav style */
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 90vh;
  justify-content: space-between;
  margin: 3vw;
  font-family: 'Vidaloka', serif;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  -webkit-transition: font-size 1s;
   -moz-transition: font-size 1s;
     -o-transition: font-size 1s;
        transition: font-size 1s;
}
.nav a:hover {
  font-size: 3vw !important;
}

#n1 {
  color:#64CCC9;
  font-size: 3vw;
}
#n1:hover {
  color:#64CCC9 !important;
}
#n2:hover {
  color:#319B42 !important;
}
#n3:hover {
  color:#FFC72C !important;
}
#n4:hover {
  color:#F93822 !important;
}
#n5:hover {
  color:#5C068C !important;
}

/* home style */
.home {
  justify-content: center;
}
.home h1 {
  text-align: center;
  font-size: 6vw;
  margin: 0;
}
.home h2 {
  text-align: center;
  margin-top: 1vh;
  font-family: 'Roboto', sans-serif;font-weight:300;
}

/*about text formatting*/

  .aouter,.ainner2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .ainner,.winner {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
  }
  .ainner {
    width: 50vw;
  }
  .ainner3 {
    margin-left:2vw;
    width: 60vw;
  }
  .ainner2 {
    margin-left:2vw;
    flex-direction: row;
    width: inherit;
    align-items: center;

  }
/* work text */
  .wouter {
    display: flex;

  }
  .winner {
    width:56vw;
  }

/* contact text */
.cinner {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 20vw;
}
.cinner .img3 {
  width: 10vw;
}
/* image style */
.about .img2 {
  width: 30vw;
  left: 15vw;
}
/* books text */
.books .img2 {
  max-width: 30vw;
  max-height: 60vh;
}
.books .img3 {
  max-height: 30vh;
  margin-bottom: 1vh;
}
.modal_inner_wrap {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  margin-left: 2vw;
  width: 40vw;
  height:60vh;
}

.modal_inner_wrap h2 {
  font-size: 3vw;
}

.modal_book2{
  width:20vw;
  height: 80vh;
}

.book_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.modal_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.buy_button {
  width: auto;
  padding:2vh;
  font-family: 'Vidaloka', serif;
  background-color: white;
  border: 1px solid #5f6063;
  border-radius: 5px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   font-size: 1.5vw;
   margin-top:1vh;
}
.buy_button:hover {
  background-color: #c1015b;
}
.buy_button a,.bleft,.bright {
  display: block;
}

.bright,.bleft {
  position: absolute;
  bottom: 2vh;
}
.bright {
  right:0;
}

/* glyphs */
.img {
  position: absolute;
  z-index: 1;
  width:5vw;
}

/* hover image styles and fucntion */
.overlayVis {
  visibility: visible !important;
}

.glyphVisOff {
  visibility: hidden !important;
}

.pos1 {
  background: url("img/b1.png") no-repeat center;
}

.pos2 {
  background: url("img/b2.png") no-repeat center;
}

.pos3{
  background: url("img/b3.png") no-repeat center;
}

.pos {
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 25vh;
  background-size: 100% auto;
  z-index: 2;
  font-size: 1.5vw;
  text-align: center;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  opacity:0;
}

.pos:hover {
  opacity:1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
  width: 19vw;
  padding-left:3vw;
  padding-right:3vw;
}

/* home */
#i08 {
  left: 6vw;
  top:16vh;
}

#i02 {
  left:70vw;
  top:63vh;
}

#i023 {
  top:90vh;
  left:25vw;
}

/* about */
#i07 {
  top:10vh;
  left:65vw;
}

#i09 {
  top:88vh;
  left:10vw;
}

#i03 {
  top:80vh;
}

/* work */
#i021 {
  left:60vw;
  top:20vh;
}

#i04 {
  top:6vh;
  left:68vw;
}

#i013 {
  top:83vh;
  left:10vw;
}

#i015 {
  left:75vw;
  top:78vh;
}

#i00 {
  top:85vh;
  left:20vw;
}

/* books */

#i022 {
  top:80vh;
  left:75vw;
}

#i014 {
  top:3vh;
  left:76vw;
}

#i019 {
  top:80vh;
  left: 5vw;
}

/* contact */

#i06 {
  top:78vh;
  left:10vw;
}

#i016 {
  top:08vh;
  left:70vw;
}
#i010 {
  top:15vh;
  left:75vw;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

@media all and (max-width:768px) {

  .home, .about, .work, .books, .contact {
    margin-left:0vw;
  }

  h1,h2 {
    font-size: 6vw;
  }
  p {
    font-size: 2vw;
  }
  .img {
    width: 7vw;
  }

  .bh,.bh2,.bp {
    width: 55vw;
  }

  .about .img2 {
    width: 40vw;
  }
  .home h2 {
    font-size: 4vw;
  }
  .nav {
    flex-direction: row;
    width:90vw;
    height:auto;
  }

  .overlay p{
    font-size: 1.5vw;
  }

  .pos {
    height: 30vh;
  }

  .cinner .img3 {
    width: 15vw;
  }

  .book_modal h2 {
      font-size: 3vw;
  }
  .book_modal,.modal_inner {
    height: auto;
  }
  .modal_book2 {
    width: 27vw !important;
    height:70vh;

  }
  .modal_inner_wrap {
    width: 60vw;
  }
  /* work */

  #i013 {
    left:-5vw;
    top:75vh;
  }

  #i00 {
    left:-5vw;
  }

  #i014 {
    left:70vw;
  }

  #i019 {
    top:90vh;
    left:20vw;
  }
  /* books */
  #i022 {
    left:80vw;
  }
}

@media all and (max-width:500px) {

  .img {
    width:10vw;
  }

  .about .img2 {
    left:0;
    width: 70vw;
  }

  .aouter,.wouter,.ainner,.winner {
    flex-direction: column;
  }
  .home h1 {
    font-size: 7vw;
  }

  p {
    font-size: 3vw;
  }

  h3 {
    font-size: 4vw;
  }
  .winner {
    width: auto;
  }

  .books .img2,.books .img3 {
    display: none;
  }

  .book_modal {
    margin-top: 5vh;
    height: 81vh;
  }

  .pos {
    width:50vw;
    height:25vw;
  }

  .modal_inner {
    flex-direction: column;
  }

  .modal_book2 {
    width: 80vw;
  }

  .modal_inner_wrap,.ainner {
    width: 90vw !important;
  }

  .buy_button {
    padding:1vh;
    margin: 1vh;
    font-size: 3vw;
  }

  .cinner .img3 {
    width: 30vw;
  }
  .book_modal h2 {
    font-size: 4vw;
  }
  .overlay {
    width:30vw;
  }
  .overlay p {
    font-size: 3vw;
  }

  #i00 {
    left:10vw;
  }
  #i021 {
    top: 15vh;
  }

}


@media all and (min-width:1200px) {
  .ainner,.winner, {
    width:60vw;
  }
  .books .img2 {
    width: auto;
  }
}
@media all and (min-width:2000px) {
  .aouter {
    width: 75vw;
  }
.wouter {
    width:60vw;
  }


  .about .img2 {
    width: 65vh;
  }

}
