/* flex box */

.parent,.child {
  width: 98vw;
  margin:0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.parent {
  flex-direction: row;
}
.child {
  flex-direction: column;
}
/* general style */
h1,h2,h3 {
  font-family: 'Vidaloka', serif;
  margin: 0;
}
h1,h2 {
  font-size: 3vw;
  margin-bottom: 1vh;
}
h3 {
  margin: 4vh 0vw;
  font-size: 1.8vw;
}
.child p {
  margin:0;
  margin-bottom: 2vh;
  font-size: 1.5vw;
}
img {
  align-self:center;
  max-width: 100vw;
}
body,.home h2,.home h3 {
  font-family: 'Roboto', sans-serif;font-weight:300;
}
a {
  text-decoration: none;
  color:black;
}

/* nav style */
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 90vh;
  justify-content: space-between;
  margin: 3vw;
  font-family: 'Vidaloka', serif;
}

.nav a {
  font-size: 2vw;
  -webkit-transition: font-size 1s;
   -moz-transition: font-size 1s;
     -o-transition: font-size 1s;
        transition: font-size 1s;
}
.nav a:hover {
  font-size: 3vw;
}

#n1 {
  color:#F93822;
  /* font-size: 3vw; */
}
#n1:hover {
  color:#F93822 !important;
}
#n2:hover {
  color:#319B42 !important;
}
#n3:hover {
  color:#10069F !important;
}
#n4:hover {
  color:#FFC72C !important;
}
#n5:hover {
  color:#5C068C !important;
}


/*text formatting*/
.home, .about, .work, .books, .contact {
  width: 85vw;
  margin-left:10vw;
  height: 100vh;
}
.outer,.row,.col,.contact a,.book_modal,.home, .about, .work, .books, .contact {
    display: flex;
    flex-direction: column;
}
.row {
  margin-left: 2vw;
  margin-bottom: 2vh;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
}

.col {
  margin-left:2vw;
  width: 30vw;
  align-items: center;
}
/* home style */
.home h1,.home h2,.home h3 {
  margin:0;
  text-align: center;
}
.home h1 {
  font-size: 4vw;
}
.home h2 {
  font-size: 2vw;
}
.home h3 {
  font-size: 1.8vw;
}
.home .img2 {
  width: 20vw;
}
/* about style */
.about .img2 {
  width: 35vw;
}

/* work style */
.work h3 {
  color:#10069F;
}
.work .img2 {
  width: inherit;
}
/* contact style */
.contact .img2 {
  width: 7vw;
  align-items: center;
}

/* books style */
.books .img2 {
  width: 25vw;
}
.book_modal .img2 {
  border:10px solid #FFC72C;
}

.buy_button {
  width: auto;
  padding:2vh;
  font-family: 'Vidaloka', serif;
  background-color: white;
  border: none;
  border-radius: 5px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   font-size: 1.5vw;
   margin-top:1vh;
   color: #FF7276;
}

.buy_button a,.bleft,.bright {
  display: block;
}

.bright,.bleft {
  position: absolute;
  bottom: 2vh;
  margin: 0vh 2vw;
}
.bright {
  right:0;
}

/* glyphs */
.img {
  position: absolute;
  z-index: 1;
  width:5vw;
  /* TODO: turn this back on */
  visibility: hidden;
}

/* home */
#i08 {
  left: 6vw;
  top:16vh;
}

#i02 {
  left:70vw;
  top:63vh;
}

#i023 {
  top:90vh;
  left:25vw;
}

/* about */
#i07 {
  top:10vh;
  left:65vw;
}

#i09 {
  top:88vh;
  left:10vw;
}

#i03 {
  top:80vh;
}

/* work */
#i021 {
  left:60vw;
  top:20vh;
}

#i04 {
  top:6vh;
  left:68vw;
}

#i013 {
  top:83vh;
  left:10vw;
}

#i015 {
  left:75vw;
  top:78vh;
}

#i00 {
  top:85vh;
  left:20vw;
}

/* books */

#i022 {
  top:80vh;
  left:75vw;
}

#i014 {
  top:3vh;
  left:76vw;
}

#i019 {
  top:80vh;
  left: 5vw;
}

/* contact */

#i06 {
  top:78vh;
  left:10vw;
}

#i016 {
  top:08vh;
  left:70vw;
}
#i010 {
  top:15vh;
  left:75vw;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

@media all and (max-width:768px) {

  .home, .about, .work, .books, .contact {
    margin-left:0vw;
    width: 90vw;
  }

  .child p {
    font-size: 2vw;
  }
  .img {
    width: 7vw;
  }
  .row {
    width: 90vw;
    margin-left: 0;
  }
  .col {
    width: 40vw;
  }
  .about .img2 {
    width: 40vw;
  }

  .nav {
    flex-direction: row;
    width:90vw;
    height:auto;
  }
  .nav a {
    font-size: 3vw;
  }
  .nav a:hover {
    font-size: 5vw !important;
  }
  .overlay p{
    font-size: 1.5vw;
  }


  #i013 {
    left:-5vw;
    top:75vh;
  }

  #i00 {
    left:-5vw;
  }

  #i014 {
    left:70vw;
  }

  #i019 {
    top:90vh;
    left:20vw;
  }
  /* books */
  #i022 {
    left:80vw;
  }
}

@media all and (max-width:500px) {
  .home h1 {
    font-size:10vw;
  }
  .home h2 {
    font-size: 5vw;
  }
  .home h3 {
    font-size: 4vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 6vw;
  }
  .child p {
    font-size: 4vw;
  }
  .row,.col {
    width: 90vw;
  }
  .row {
    flex-direction: column;
  }

  .nav a {
    font-size: 4vw;
  }
  .nav a:hover {
    font-size: 6vw !important;
  }
  .img {
    width:10vw;
  }

  .about .img2 {
    left:0;
    width: 70vw;
  }
/* turn off img on mobile */
  .books .img2,.work .img2 {
    display: none;
  }

  .book_modal {
    margin-top: 5vh;
    height: 81vh;
  }

  .buy_button {
    padding:1vh;
    margin: 1vh;
    font-size: 3vw;
  }

  #i00 {
    left:10vw;
  }
  #i021 {
    top: 15vh;
  }

}


@media all and (min-width:1200px) {
  .ainner,.winner, {
    width:60vw;
  }
  /* .nav a {
    font-size: 5vw;
  } */
}
@media all and (min-width:2000px) {

  .about .img2 {
    width: 65vh;
  }

}
