/* flex box */
.parent {
  display: flex;
  width: 98vw;
  margin:0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.child {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 98vw;
}

/* general style */
h1,h2 {
  font-family: 'Vidaloka', serif;
  font-size: 4vh;
}
p {
  margin: 0;
  font-size: 2vh;
}
img {
  align-self:center;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* section style */
.home, .about, .work, .books, .contact {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* nav style */
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 90vh;
  justify-content: space-between;
  margin: 3vw;
  font-family: 'Vidaloka', serif;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
  -webkit-transition: font-size 1s;
   -moz-transition: font-size 1s;
     -o-transition: font-size 1s;
        transition: font-size 1s;
}
.nav a:hover {
  font-size: 3vh !important;
}

#n1 {
  color:#759ddd;
  font-size: 3vh;
}
#n1:hover {
  color:#759ddd !important;
}
#n2:hover {
  color:#03960c !important;
}
#n3:hover {
  color:#f2cd29 !important;
}
#n4:hover {
  color:#c1015b !important;
}
#n5:hover {
  color:#6a168e !important;
}

#home:target p {
  color:#759ddd !important;
}

/* home style */
.home {
  justify-content: center;
}
.home h1 {
  text-align: center;
  font-size: 6vw;
  margin: 0;
}

/*about text formatting*/

  .aouter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ainner,.winner {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
  }

/* work text */
  .wouter {
    display: flex;

  }
  .winner {
    width:45vw;
  }
/* books text */
.bp {
 position: absolute;
 left: 35vw;
 width: 45vw;
 top:35vh;
}
.bh,.bh2 {
 position: absolute;
 top: 20vh;
 width: 45vw;
 left: 35vw;
 margin-bottom: 1vh;
}

.bh2 {
  top:50vh;
}

/* image style */
.about .img2 {
  width: 50vh;
  left: 15vw;
}
.books .img2 {
  width: 30vw;
  max-height: 60vh;
}
.books .img3 {
  max-height: 30vh;
}
.modal_inner_wrap {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  align-items: center;
}
.modal_inner_wrap h2 {
  font-size: 3vh;
}
.modal_book2{
  width:33vw;
}

.book_modal {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}
.modal_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buy_button {
  width: auto;
  padding: 2vh;
  margin-top:2vh;
  font-family: 'Vidaloka', serif;
  background-color: white;
  background: none;
  border-radius: 1vh;
  border-color:  #5f6063;
  -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
.buy_button:hover {
  background-color: #c1015b;
}

.bright {
  float: right;
}

/* glyphs */
.img {
  position: fixed;
  z-index: 1;
  width:10vw;
}

/* hover image styles and fucntion */
.posview {
  visibility: visible !important;
}

.pos1 {
  background: url("img/b1.jpg") no-repeat center;
}

.pos2 {
  background: url("img/b2.jpg") no-repeat center;
}

.pos3{
  background: url("img/b3.jpg") no-repeat center;
}

.pos {
  visibility: hidden;
  position: fixed;
  display: table;
  width: 20vw;
  height:20vh;
  background-size: 100% auto;
  z-index: 2;
  font-size: 2vh;
  text-align: center;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  opacity:0;
}

.pos:hover {
  opacity:1;
}

.overlay {
  display: table-cell;
  vertical-align: middle;
  width: 15vw;
  padding-left:3vw;
  padding-right:3vw;
}

#i00, #i01, #i05, #i06, #i07, #i08, #i014  /*animation for glyphs that reveal Pos Edge tips*/{
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#i00, #i05, #i07, #i014 {
  animation: shake 5s infinite both;
}

#i01, #i06, #i08 {
  animation: shake2 5s infinite both;
}

#i00 /*home*/{
  left: 15vw;
  top:10vh;
}

#h00 {
  left: 10vw;
  top:10vh;
}

#i01 /*about*/ {
  top:110vh;
  left:75vw;
}

#h01 {
    top:110vh;
    left:70vw;
}

#i05 /*work*/ {
  top:200vh;
  left:75vw;
}
#h05 {
  top:200vh;
  left:70vw;
}

#i06 /*contact*/ {
  top:470vh;
  left:15vw;
}

#h06 /*contact*/ {
  top:470vh;
  left:10vw;
}

#i07 /*contact*/ {
  top:400vh;
  left:80vw;
}

#h07 /*contact*/ {
  top:400vh;
  left:75vw;
}

#i08 /*work*/ {
  top:273vh;
  left:30vw;
}

#h08 /*work*/ {
  top:273vh;
  left:25vw;
}

#i09 /*about*/ {
  top:190vh;
  left:20vw;
}

#i010 /*home*/{
  left:80vw;
  top:63vh;
}

#i013 /*work*/ {
  top:290vh;
  left:20vw;
}

#i015 /*about*/ {
  top:180vh;
}

#i014 /*books*/ {
  top:302vh;
  left:87vw;
}

#h014 /*books*/ {
  top:300vh;
  left:80vw;
}

#i016 /*work*/ {
  left:85vw;
  top:278vh;
}

#i019 /*books*/ {
  top:393vh;
  left: 20vw;
}

#i020 /*contact*/ {
  top:415vh;
  left:85vw;
}

#i021 /*work*/ {
  left:70vw;
  top:220vh;
}

#i022 /*books*/ {
  top:380vh;
  left:90vw;
}

#i023 /*home*/ {
  top:90vh;
  left:30vw;
}




@keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }
  5% {
    transform: translate3d(-1px, 0, 0);
  }

  10% {
    transform: translate3d(2px, 0, 0);
  }

  15% {
    transform: translate3d(-4px, 0, 0);
  }

  20%,100 {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake2 {
  40% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(-1px, 0, 0);
  }

  50% {
    transform: translate3d(2px, 0, 0);
  }

  55% {
    transform: translate3d(-4px, 0, 0);
  }

  0%,60%,100 {
    transform: translate3d(4px, 0, 0);
  }
}


@media all and (max-width:768px) {

  .home, .about, .work, .books, .contact {
    width: 90vw;
  }

  h1,h2 {
    font-size: 3vh;
  }
  .bh,.bh2,.bp {
    width: 55vw;
  }

  .about .img2 {
    width: 40vw;
  }

  .wp{
    top:30vh;
  }

  .nav {
    flex-direction: row;
    width:90vw;
    height:auto;
  }

  .overlay p{
    font-size: 1.5vh;
  }

  #h00 {
    left: 10vw;
    top:5vh;
  }

  #h01 {
      top:105vh;
      left:70vw;
  }

  #i05 /*work*/ {
    top:210vh;
    left:65vw;
  }

  #h05 {
    top:205vh;
    left:60vw;
  }

  #h06 /*contact*/ {
    top:467vh;
    left:10vw;
  }

  #i07 /*contact*/ {
    top:410vh;
    left:80vw;
  }

  #h07 /*contact*/ {
    top:405vh;
    left:75vw;
  }

  #h08 /*work*/ {
    top:268vh;
    left:25vw;
  }

  #i014 {
    left:5vw;
    top:310vh;
  }

  #h014 /*books*/ {
    top:305vh;
    left:0vw;
  }

  #i015 {
    top:175vh;
  }
  #i022 {
    top:390vh;
  }
}

@media all and (max-width:500px) {/*maybe more*/
  .home h1 {
    font-size: 12vw;
  }


  .img {
    width: 25vw;
  }

  .about .img2 {
    left:0;
    width: 70vw;
  }

  .aouter,.wouter {
    flex-direction: column;
  }
  .ainner,.winner {
    flex-direction: column;
  }

  .wp {
    width: 90vw;
  }

  .bh,.bh2,.bp {
    width: 90vw;
    left: 3vw;
  }

  .books .img2 {
    display: none;
  }
  .books .img3 {
    display: none;
  }

  .pos {
    width: 35vw;
  }
  #i00 /*home*/{
    left: 15vw;
    top:10vh;
  }

  #h00 {
    left: 10vw;
    top:7vh;
  }

  #i01 /*about*/ {
    top:105vh;
    left:70vw;
  }

  #h01 {
      top:102vh;
      left:65vw;
  }

  #i05 /*work*/ {
    top:205vh;
    left:65vw;
  }
  #h05 {
    top:202vh;
    left:60vw;
  }

  #i06 /*contact*/ {
    top:480vh;
    left:5vw;
  }

  #h06 /*contact*/ {
    top:477vh;
    left:0vw;
  }

  #i07 /*contact*/ {
    top:415vh;
    left:60vw;
  }

  #h07 /*contact*/ {
    top:413vh;
    left:55vw;
  }

  #i08 /*work*/ {
    top:275vh;
    left:10vw;
  }

  #h08 /*work*/ {
    top:273vh;
    left:5vw;
  }

  #i09 /*about*/ {
    top:190vh;
    left:20vw;
  }

  #i010 /*home*/{
    left:76vw;
    top:63vh;
  }

  #i013 /*work*/ {
    top:295vh;
    left:20vw;
  }

  #i015 /*about*/ {
    top:180vh;
  }

  #i014 /*books*/ {
    top:385vh;
    left:5vw;
  }

  #h014 /*books*/ {
    top:382vh;
    left:0vw;
  }

  #i016 /*work*/ {
    left:55vw;
    top:285vh;
  }

  #i019 /*books*/ {
    display: none;
  }

  #i020 /*contact*/ {
    top:398vh;
    left:50vw;
  }

  #i021 /*work*/ {
    left:70vw;
    top:220vh;
  }

  #i022 /*books*/ {
    top:390vh;
    left:70vw;
  }

  #i023 /*home*/ {
    top:90vh;
    left:30vw;
  }

  .modal_inner {
    flex-direction: column;
  }
  .modal_inner h2 {
    font-size: 2vh;
  }
  .modal_book2 {
    width: 90vw;
  }
  .buy_button {
    padding:1vh;
  }


}


@media all and (min-width:1200px) {
  .a1,.a2 {
    width:30vw;
  }
}
